.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: rgba(25, 69, 137, 0.3);
}
h1 {
  color: green;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
  padding: 2%;
}
.searching {
  text-align: center;
  margin: 10px auto;
  display: block;
  padding: 0.5%;
}
.btn {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.card {
  text-align: center;
  margin: 0 auto;
  float: none;
}
h2.time {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  padding: 1%;
}
h2.forecast {
  color: green;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding: 1%;
  font-weight: bold;
}
.row {
  display: flex;
  margin: 0 auto;
}
#main-card-title {
  font-size: 25px;
  font-weight: 650;
}
.card-title {
  color: #194589;
}
ul,
p {
  font-weight: 600;
}
.forecast-temp-min,
p,
#main-weather-description {
  opacity: 0.7;
}
.coded {
  text-align: center;
}
.github {
  text-decoration: none;
}
